{% extends "base.html" %}

{% block style %}
<style>
.row {text-align: center;}
</style>
{% endblock %}

{% block content %}

<div class="row">
    <div class="span6 offset3 home">
        <h1 class="logo">Reset Password</h1>

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            <a class="close" data-dismiss="alert">×</a>
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <form method="post" action=".">{% csrf_token %}
            <input type="hidden" name="uuid" value="{{ uuid }}">
            <p> <label>New Password:</label> <input type="password" name="password"> </p>
            <p> <label>Input Again:</label> <input type="password" name="password2"> </p>
            <p> <input class="btn" type="submit" value="Submit"> </p>
        </form>
    </div>
</div>
{% endblock %}
