{% extends "base.html" %}

{% block title %}About iRead.Kindle{% endblock %}

{% block style %}
<style>
body {background: url("/static/img/bg.png");}
.logo {text-align:center; margin: 40px 0 40px;}
i {margin:4px;}
.desc {padding:10px;} 
.desc p {font-size:14px;}
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span6 offset3">
        <h1 class="logo">iRead.Kindle</h1>

        <h3><i class="icon-book"></i>Share Your Highlights to Weibo</h3>
        <div class="desc">
            <p>iRead.Kindle is inspired by <a href="http://kindle.io/">kindle.io</a>, it can record all your Kindle highlights, which you share with friends using your social network accounts (like Twitter or Facebook). <br>
            However, both Twitter & Facebook could not be visited inside the FUCKING G.F.W, so it is necesary to provide a substitution for them, Weibo.<br>
               Read more and set up on the <a href="/accounts/profile/">profile page</a>, 
               then your Highlights will show up at <a href="/highlights/">highlights page</a>.
               <br><br>
               Setting steps are:
            </p>
            <ol>
                <li>Set a Twitter account as your <a href="https://kindle.amazon.com/home/preferences">Kindle Share Social Network</a>.</li>
                <li>HighLight some text while you are reading on Kindle, and, Share it.</li>
                <li>As a result, Amazon will save these on <a href="https://kindle.amazon.com/">your kindle profile page</a>, which is PUBLIC for every Kindle reader.</li>
                <li>Type your own kindle profile page URL on <a href="/accounts/profile/">profile page</a>. And allow iRead.Kindle to update your Weibo.</li>
                <li>Then iRead.Kindle will fetch your Kindle Profile Page for latest highlights and share them to your Weibo account.</li>
            </ol>
        </div>

        <h3><i class="icon-envelope"></i>Contact</h3>
        <div class="desc">
            <p>E-mail: iread.kindle [AT] gmail.com</p>
        </div>
    </div>
</div>
{% endblock %}

