{% extends "base.html" %}

{% block title %}Kindle Notes{% endblock %}

{% block style %}
<style>
.highlight .text {
    font-size:15px; 
    line-height:24px;
    font-family: Verdana, Verdana, Geneva, sans-serif;
}
.book-nav {margin:0 0 20px; text-align:right;}
.book-nav .book {color:#E47911; }
.origin_url {float: center; color: yellow}
</style>
{% endblock %}

{% block content %}

  {% if highlights|length > 1 %}
  {% load pagination_tags %}
  {% autopaginate highlights 10 %}
  {% endif %}

<div class="row">
    <div class="span8 offset2 home">
        <h1 class="logo">Kindle Highlights<span class="tip pull-right">Hello, {{ kindle_name }}</span></h1>

        {% if not highlights %}
        <div class="highlight">
        <p class="text">iRead4Kindle can record all your Highlight from your Kindle. 
            Read more and set up on the Notes Tab of <a href="/accounts/profile/">the profile page</a>,
            then your Highlights will show up <a href="/highlights/">here</a>.</p>
        </div>
        {% endif %}

        {% comment %}
        {% if request.META.QUERY_STRING and highlights %}
        {% endcomment %}
        {% if highlights|length == 1 %}
        <div class="book-nav">
            <h4>highlights from Book &quot;<span class="book">{{ highlights.0.book }}</span>&quot;.
            View <a href="{% url highlights_index %}">all highlights</a></h4>
        </div>
        {% endif %}
        {% comment %}
        {% endif %}
        {% endcomment %}

        <div class="row">
        {% for highlight in highlights %}
            <div class="highlight">
              <span class="text">{{ highlight.text }}</span>
              <br>
              <br>

              <span class="origin_url"><a href="{{ highlight.get_url }}">View at kindle.amazon.com</a></span>

              <span class="added pull-right">{{  highlight.added|date:"N j, Y" }}</span>

              {% comment %}
              {% if highlight.book %}
              <span class="book">From <a href="{% url highlights_index %}?book={{ highlight.book }}">{{ highlight.book }}</a></span>
              {% endif %}
              {% endcomment %}

              <hr>
            </div>
        {% endfor %}
        </div>

  {% if highlights|length > 1 %}
        {% paginate %}
  {% endif %}
    </div>
</div>
{% endblock %}
