{% extends "base.html" %}

{% block title %}Kindle Notes{% endblock %}

{% block style %}
<style>
.note .text {
    font-size:15px; 
    line-height:24px;
    font-family: Verdana, Verdana, Geneva, sans-serif;
}
.book-nav {margin:0 0 20px; text-align:right;}
.book-nav .book {color:#E47911; }
</style>
{% endblock %}

{% block content %}
  {% load pagination_tags %}
  {% autopaginate notes 10 %}

<div class="row">
    <div class="span8 offset2 home">
        <h1 class="logo">Kindle Notes<span class="tip pull-right">Hello, {{ request.user.first_name }}</span></h1>

        {% if not notes %}
        <div class="note">
        <p class="text">Kindle.io can record all your Highlight from your Kindle. 
            Read more and set up on the Notes Tab of <a href="/accounts/profile/">the profile page</a>,
            then your Highlights will show up <a href="/notes/">here</a>.</p>
        </div>
        {% endif %}

        {% if request.META.QUERY_STRING and notes %}
        <div class="book-nav">
            <h4>Notes from Book &quot;<span class="book">{{ notes.0.book }}</span>&quot;.
            View <a href="{% url notes_index %}">all notes</a></h4>
        </div>
        {% endif %}

        <div class="row">
        {% for note in notes %}
            <div class="note">
              <span class="text">{{ note.text }}</span>
              <br>
              <br>
              <span class="added pull-right">{{  note.added|date:"N j, Y" }}</span>
              {% if note.book %}
              <span class="book">From <a href="{% url notes_index %}?book={{ note.book }}">{{ note.book }}</a></span>
              {% endif %}
              <hr>
            </div>
        {% endfor %}
        </div>
        {% paginate %}
    </div>
</div>
{% endblock %}
