{% extends "base.html" %}

{% block style %}
<style>
* {font-size:14px;}
body {background: url("/static/img/bg.png");}
.logo {text-align:left;margin:50px 0px 30px;}
.logo span {float:right; color:#E47911;}
.tab-content {margin:0px 6px 0;}
.tab-content label {margin:8px 0 4px; font-weight:bold;}
.tab-content #kindle_profile_url {width:96%; }
.help-block span {color:#E47911;}
.form-actions {padding-left:20px !important;}
</style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="span6 offset3">
        <h1 class="logo">iRead.Kindle<span>Hello, {{ request.user.username }}</span></h1>

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message|safe }}
            <a class="close" data-dismiss="alert">×</a>
        </div>
        {% endfor %}
        {% endif %}

        <ul class="nav nav-tabs">
            <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
            {% if kindle_profile_url != "" and kindle_profile_url != None%}
                {% if has_weibo_oauth or has_douban_oauth %}
                <li><a href="#highlights" data-toggle="tab">Highlights</a></li>
                {% endif %}
            {% endif %}
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="profile">
                <form method="post" action="{% url accounts_profile %}" class="form-horizontal">{% csrf_token %}
                    <label for="kindle_profile_url">Your Kindle Profile URL</label>
                    <input type="text" id="kindle_profile_url" name="kindle_profile_url" class="span3" placeholder="https://kindle.amazon.com/profile/name/uid" value="{{ kindle_profile_url }}">
                    <p class="help-block">登录<a href="https://kindle.amazon.com/">https://kindle.amazon.com/</a>，右上角下拉框点击Your profile，将网址复制到上面的框中<span>(该页面是公开的:-)</span>，用于抓取你的Kindle Highlights</p>

                    <p></p>
                    <label for="weibo">自动发布微博</label>
                    
                    <label class="checkbox">
                    {% if has_weibo_oauth %}
                    <input type="checkbox" name="share_to_weibo" {% if share_to_weibo %} checked="checked"{% endif %}>
                    {% endif %}
                    <p class="help-block"> 每抓取到新的Highlight将发布一条微博
                        {% if not has_weibo_oauth %}
                    <a href="{% url oauth_with_weibo %}"> » 微博授权启用该功能</a>
                        {% endif %}
                    </p>
                    </input>
                    </label>

                    {% comment %}
                    <p></p>
                    <label for="douban">自动发布豆瓣广播</label>
                    <label class="checkbox">
                    {% if has_douban_oauth %}
                    <input type="checkbox" name="share_to_douban" {% if share_to_douban %} checked="checked"{% endif %}>
                    {% endif %}
                    <p class="help-block"> 每抓取到新的Highlight将发布一条豆瓣广播
                    {% if not has_douban_oauth %}
                    <a href="{% url oauth_with_douban %}"> » 豆瓣授权启用该功能</a>
                    {% endif %}</p>
                    </input>
                    </label>
                    {% endcomment %}

                    <div class="form-actions">
                        <input type="submit" class="btn btn-primary" value="Save changes">
                    </div>
                </form>
            </div>
            
            {% if has_weibo_oauth or has_douban_oauth %}
            <div class="tab-pane" id="highlights">
                <form method="post" action="{% url check_and_share %}" class="form-horizontal">{% csrf_token %}
                    <label for="fetch_highlights"></label>
                    <p class="help-block">
                    Now you can fetch you new highlights and share them to your Weibo account by CLICK the below buttom "<strong>Check & Share Highlights</strong>" button.
                    </p>
                    <div class="form-actions">
                        <input type="submit" class="btn btn-primary" value="Check & Share Highlights">
                        <a href="" class="btn">Cancel</a>
                    </div>
                </form>
            </div>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}
